_Read_Me_First/
Animations/
Assets/
Behaviors/
DSGs/
EnvironmentLights/
FireFX/
Geometries/
LightRigs/
Lights/
Materials/
ParticleEffects/
Textures/
/cooker.log
/MAOMAO.Art.xml
/MAOMAO.Art_Backup.xml
/MAOMAO.civ6proj
